<a href="https://colab.research.google.com/github/Jkvua/desafio_2sem/blob/main/ListComprehension_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 - Crie uma lista com os números de 1 a 10 usando compreensão de lista.

In [ ]:
c = [m for m in range(1,11)]
print(c)

2 - Crie uma lista com os números ímpares de 1 a 50.

In [ ]:
x = [y for y in range(1,50) if y % 2 == 1]
print(x)

3 - Crie uma lista com as letras maiúsculas de uma string qualquer.

In [ ]:
nome = ['carro', 'festa','quadro','garrafa']
nomes_capitalizados = [nome.capitalize() for nome in nome]
print(nomes_capitalizados)

4 - Crie uma lista com o comprimento de cada palavra em uma string.

In [ ]:
palavra = ['suco']
palavras = len([x for x in palavra])
print(palavras)

5 - Crie uma lista com os números divisíveis por 3 e 5 de 1 a 30.

In [ ]:
s = [x for x in range(1,31) if x % 3 == 0 and x % 5 == 0]
print(s)

6 - Crie uma lista com as palavras de uma string que tenham mais de 3 letras.

In [ ]:
listobjetos = ['grampo','capinha','quadro','livro','copo', 'de']
mais_de_tres_letras = [palavra for palavra in listobjetos if len(palavra) > 3]
print(mais_de_tres_letras)

7 - Crie uma lista com os números primos de 1 a 20. Dica: use uma função para
verificar se o número é primo ou não.

In [ ]:
for i in range(1,20):
  if i>1:
    for j in range(2,i):
        if(i % j==0):
            break
    else:
        print(i)

In [ ]:
p = [x for x in range(2,20) if all(x % j !=0 for j in range(2,x))]
print(p)

8 - Crie uma lista com as datas de todos os dias de fevereiro em um ano bissexto
(considerando que um ano bissexto é divisível por 4).

In [ ]:
#complicado
ano = 2024
bissexto = [(ano % 4 == 0 and ano % 100 != 0) or (ano % 400 == 0)]
fevereiro = [f"{dia:02}/02/{ano}" for dia in range(1,30) if bissexto or dia <= 28]
print(fevereiro)

9 - Crie uma lista de strings com os primeiros 10 nomes da lista de nomes.

In [ ]:
nomes = [
    'camila',
    'carolina',
    'julia',
    'seth',
    'samantha',
    'marcos',
    'tainara',
    'rose',
    'jandira',
    'damião',
    'sofia',
    'louis',
    'leah',
    'alissa',
    'tobin',
    'christen',
    'alissa',
    'beatriz'
 ]

primeiros_nomes = [x for x in nomes[:10]] # : no começo para pegar os dez primeiros elementos da lista
print(primeiros_nomes)

10 - Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas com as primeiras letras maiúsculas.

In [ ]:
letra_maiuscula = [nome.capitalize() for nome in nomes[:10]]
print(letra_maiuscula)

11- Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas sem as vogais.

In [ ]:
nomes = [
    'camila',
    'carolina',
    'julia',
    'seth',
    'samantha',
    'marcos',
    'tainara',
    'rose',
    'jandira',
    'damiao',
    'sofia',
    'louis',
    'leah',
    'alissa',
    'tobin',
    'christen',
    'alissa',
    'beatriz'
 ]

def sem_vogal(texto):
  vogal = 'AEIOUaeiou'
  return ''.join([letra for letra in texto if letra not in vogal])

sem_vogal = [sem_vogal(nome) for nome in nomes[:10]]
print(sem_vogal)

12 - Concatenar elementos de sub-listas em uma única lista

In [ ]:
sublista = [['camila', 'carolina'], ['jandira','damião']]
lista_concatenada = [elemento for sublista in sublista for elemento in sublista]
print(lista_concatenada)

13 - Criar um dicionário a partir de duas listas

In [ ]:
raca_cachorro = ['Akita','Beagle','Labrador','Terrier']
descendem = ['Japão', 'Reino Unido', 'Canada', 'Reino Unido']
dicionario = dict(zip(raca_cachorro, descendem)) #zip combina as duas listas e o dict cria o dicionario a partir disso
print(dicionario)